week_10/glove.6B/
week_10/wiki-news-300d-1M.vec
/week_5/eeg_data/
*.csv
*.gz
/week_3/data
week_9/glove.6B.50d.txt
*.pth
*.zip
/assignment_1/Assignment 1 - VGG16/
week_8/A4_G01.ipynb
week_10/glove.6B.50d.txt
week_10/glove.6B.300d.txt
/week_10/data
/week_10/__pycache__
/week_10/plots
*glove.*
*.npz
